VITE_FIREBASE_API_KEY=AIzaSyDlVKgbXPIEONSA079arUcxv0Qb5wAguuU
VITE_FIREBASE_AUTH_DOMAIN=aiandds-erp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aiandds-erp
VITE_FIREBASE_STORAGE_BUCKET=aiandds-erp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=756088256387
VITE_FIREBASE_APP_ID=1:756088256387:web:b8f0fc4007343408f8a8b6
VITE_FIREBASE_MEASUREMENT_ID=G-17Q2W7XFQR
